<button id="checkout-button" data-secret="<%=session_id %> ">
    Checkout
  </button>

<h2 style="display:none;" id="uid"><%=session_id %></h2>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
      var x = document.getElementById("uid").innerHTML;
      console.log(x) 
        var checkoutButton = document.getElementById('checkout-button');
        var stripe = Stripe('--KEY BEGINNING WITH pk_...--');
        checkoutButton.addEventListener('click', function() {
        stripe.redirectToCheckout({
            // Make the id field from the Checkout Session creation API response
            // available to this file, so you can provide it as argument here
            // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
            sessionId: x
        }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
        });
    });
  </script>