<button id="checkout-button" data-secret="<%=session_id %> ">
    Checkout
  </button>

  <script>
        var checkoutButton = document.getElementById('checkout-button');
        var stripe = Stripe('pk_test_51H4Gi5Jyol9p8VxZ8z9VBpJieHLL52y2kzho1RgPpFAuWWahsqeAsqa2a8IWYmBH2S7WeAG6S56EzxdeJxet5rVn001efy5CV2');

        checkoutButton.addEventListener('click', function() {
        stripe.redirectToCheckout({
            // Make the id field from the Checkout Session creation API response
            // available to this file, so you can provide it as argument here
            // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
            sessionId: '{{CHECKOUT_SESSION_ID}}'
        }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
        });
    });
  </script>